.logo {
    width: 150px;
    height: 150px;
}

.picprofile {
    width: 50px;
    height: 50px;
}

.testop {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
}

.testocoll {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

header {
    background-color: black;
}

ul#menu li {
    display: inline;
}

#collab {
    float: left; 
    margin-right: 10px
}

#zonacoll {
    background-color: grey;
}